body{
	font-family: 'Lato',sans-serif;
	margin:0;
	padding: 0;

}

button{
	cursor: pointer;
}

.youtube-container{
	max-width:1500px;
	width:90%;
	margin:auto;
}

.topnav{
	border-bottom: 2px solid #e5e5e5;
}

.bigIframe{
	width:100%;
}

.v-title{
	font-size:.9rem;
	line-height: 1.2em;
	font-weight: bold;
	color:#000;
}

.v-author, .v-views{
	font-size: .85rem;
	color:#464646;
	display: block;
}

.v-img{
	width:100%;
	height: 100%;
	object-fit: cover;
}

.columnE{
    position: relative;
    height:80px;
}

.v-minutes{
	background:#000;
	position: absolute;
	right:0;
	bottom:0;
	padding:.1rem;
	color:#fff;
	font-size:.8rem;
}

.mv-description-row{
	border-bottom: 1px solid #e5e5e5;
}

.mv-desc{
	margin-top:1.5rem;
}


.mv-title,.mv-pdate,.mv-desc{
	display: block;
	font-size: .95rem;
	color:#464646;
}

.mv-title{
	font-size: 1.1rem;
	font-weight: bold;
	color:#000;
}

.searchbar{
	width:80%;
	padding:.4rem .8rem;
	border:1px solid #e5e5e5;
}

.btn-search{
	padding:.4rem .8rem;
	border:1px solid #e5e5e5;
	background: #eee
}

.btn-blue{
	color:steelblue;
	border:2px solid steelblue;
	border-radius: 0px;
	background:#fff;
	padding:.4rem .8rem;
}

.btn-red{
	background: red;
	color:#fff;
	padding:.6rem 1rem;
	font-weight: bold;
	border:none;
	text-transform: uppercase;
	position: absolute;
	top: 20px;
    right: 0;hromc
}

.trans-btn{
	background: transparent;
	padding:0;
	display: inline;
	border:none;
	color:#333;
    padding-right: 1rem;
}

.trans-btn{
	font-size: .9rem;
}



@media(min-width:1200px){

	.bigIframe{
		min-height: 600px;
	}
}



/* FLEX CSS STARTS*/



.navbar{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding:.3rem 1rem;
	border:1px solid #e5e5e5;
	margin-bottom: 2rem;

}

.navbar .col{

}


.logo{
	max-width: 80px;
}

.fa-bars{
	position: relative;
	top:-15px;
}

.logo-area{
   
}


.signin-area{

}

.signin-area .fa{
   color:#464646;
   padding-right: 1rem;
}

.youtube-container{
	display: flex;
	flex-direction: row;
}

.youtube-container .col{

}

.youtube-container .main-video-col{
    width:75%;
    padding:0 2rem;
}

.youtube-container .featured-videos-col{
	flex:1;
}

.vid-title, .vid-views{
	font-weight: normal;
}

.main-vid-title-row{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.contrib-col{
	width:80%;
}

.sharebtn-col{
	flex:1;
}

.main-vid-desc-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-end;
}

.main-vid-desc-row .author-photo{
	width:10%
}

.main-vid-desc-row .author-desc{
	width:60%;
}

.main-vid-desc-row .subscribe-col{
	width:30%;
	position: relative;
}




@media(min-width:1200px){
	.searchbar-area{
		min-width: 600px;
	}
}

.featured-videos-col .row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.autoplay{
	color: #656161;
	font-size: .75rem;
    font-weight: bold;
    letter-spacing: .7px;
}


.autoplay-row{
	margin-bottom: 1rem;
}

.featured-video-col{
	display: flex;
	justify-content: space-between;
	margin-bottom:1rem;
}

.featured-video-col .col{
	flex: 1;
}

.featured-video-col .desc-col{
	padding-left: 1rem;
}

.up-next{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 1rem;
}