.youtube-container{
	max-width:1500px;
	width:90%;
	margin:auto;
}

.topnav{
	border-bottom: 2px solid #e5e5e5;
}

.bigIframe{
	width:100%;
}

.v-title{
	font-size:.9rem;
	line-height: 1.2em;
	font-weight: bold;
	color:#000;
}

.v-author, .v-views{
	font-size: .85rem;
	color:#464646;
	display: block;
}

.v-img{
	width:100%;
}

.columnE{
    position: relative;
}

.v-minutes{
	background:#000;
	position: absolute;
	right:0;
	bottom:0;
	padding:.1rem;
	color:#fff;
	font-size:.8rem;
}

.mv-description-row{
	border-bottom: 1px solid #e5e5e5;
}

.mv-title,.mv-pdate,.mv-desc{
	display: block;
	font-size: .95rem;
	color:#464646;

}

.searchbar{
	width:80%;
	padding:.4rem .8rem;
	border:1px solid #e5e5e5;
}

.btn-search{
	padding:.4rem .8rem;
	border:1px solid #e5e5e5;
	background: #eee
}

.btn-blue{
	color:steelblue;
	border:2px solid steelblue;
	border-radius: 0px;
	background:#fff;
	padding:.4rem .8rem;
}

.trans-btn{
	background: transparent;
	padding:0;
	display: inline;
}

@media(min-width:1200px){

	.bigIframe{
		min-height: 600px;
	}
}



/* FLEX CSS STARTS*/

body{
	margin:0;
	padding: 0;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:.3rem 1rem;
	border:1px solid #e5e5e5;

}

.navbar .col{
}


.logo{
	max-width: 80px;
}

.fa-bars{
	position: relative;
	top:-15px;
}

.logo-area{
   
}

.searchbar-area{
	min-width: 600px;
}

.signin-area{

}

.signin-area .fa{
   color:#464646;
   padding-right: 1rem;
}